footer {
    background: var(--color-primary);
    padding: 1.5rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5rem;
    color: var(--color-white);
}

footer a {
    color: var(--color-bg);
}

.footer__logo a{
    font-size: 2rem;
    font-weight: 500;
}
.footer__logo p {
    font-size: 1.2rem;
}